<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../static/lib/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link
      rel="stylesheet"
      href="../static/lib/leaflet/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <script
      src="../static/lib/leaflet/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <title>Hospitals</title>
  </head>

  <body class="container-fluid bg-dark" style="padding: 0">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-success mb-5"
      aria-label="Fifth navbar example"
    >
      <div class="container-fluid">
        <h1 class="navbar-brand d-flex align-items-center fs-4 text-white mb-0">
          <img
            src="../static/img/road.png"
            width="38px"
            height="30px"
            class="me-3"
            alt="Mada"
            style="border-radius: 20px"
          />
          Hopitals
        </h1>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbars"
          aria-controls="navbars"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container" style="width: inherit">
      <div class="d-flex flex-column align-items-center">
        <header class="map-top-label shadow bg-success">Madagascar Map</header>
        <div id="map"></div>
      </div>
    </div>

    <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/map.js"></script>
    <script></script>
  </body>
</html>
